body { background: #ebc15; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 33px; display: flex; }
.block-user-0 { color: #107d0c; font-size: 14px; margin-bottom: 5px; }
.block-search-1 { color: #3a3cc6; font-size: 17px; margin-bottom: 5px; }
.block-cluster-2 { color: #528a2c; font-size: 19px; margin-bottom: 5px; }
.block-session-3 { color: #e6c89f; font-size: 19px; margin-bottom: 5px; }
.block-config-4 { color: #1751d9; font-size: 13px; margin-bottom: 5px; }